@import "../../../bower_components/animate-sass/animate";

@keyframes symbol {
    0% { transform: scale(0.6); opacity: 0; }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); opacity: 1;}
}


#amara-logo {
  &.animated {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    overflow: visible;
    .symbol {
      path {
        fill: #DDDDDD;
      }
      &.finale {
        path {
          fill: #DDDDDD !important;
        }
      }
        // Loop through the cards and delay the loading animation.
      @for $i from 1 through 30 {
        &:nth-child(#{$i}) { 
          @include animation(symbol, 1.8s, 0.1s * $i);
        }
      }
    }
  }
}

// Media Queries
@media(max-width: $screen-md-max) {

}

@media(max-width: $screen-sm-max) {

}

@media(max-width: $screen-xs-max) {

}