$charcoal:               #222626;
$gray:                   #9fa0a1;
$snow:                   #F3F4F6;
$white:                  #FFFFFF;

$plum:                   #5a2747;
$teal:                   #30957b;
$amaranth:               #f3254d;
$lime:                   #80bd3e;
$sea-green:              #30957b;
$cream:                  #fffdf8;

// Map color names to tuples of (color, alternate_color) where alternate_color is the text color to use when color is the background
$colorscheme: (
  "plum": ($plum, $white),
  "teal": ($teal, $white),
  "amaranth": ($amaranth, $white),
  "lime": ($lime, $white),
  "sea-green": ($sea-green, $white),

  "charcoal": ($charcoal, $white),
  "gray": ($gray, $white),
  "snow": ($snow, $plum),
  "white": ($white, $gray),
);

$body-bg:                #ffffff;
$text-color:             $charcoal;
$brand-primary:          $plum;

$link-color:            $teal;
$link-hover-color:      $lime;

$font-family-sans-serif:  'Open Sans', sans-serif;
$headings-font-family:    'Raleway', sans-serif;
$font-size-normal: 16px;
$font-size-small: 14px;
$font-size-tiny: 13px;


// Animations
$use-fadeInUp       : true;
$use-fadeInDown     : true;
$use-fadeInLeft     : true;
$use-fadeInRight    : true;
$use-pulse          : true;


// Media Queries
$screen-lg-max:           1399px;
$screen-md-max:           1199px;
$screen-sm-max:           1023px;
$screen-xs-max:           767px;

$screen-xl-min:           1400px;
$screen-lg-min:           1200px;
$screen-md-min:           1024px;
$screen-sm-min:           768px;


// Form states and alerts
// Define colors for form feedback states and, by default, alerts.

$state-success-text:             $lime;
$state-success-bg:               #dff0d8;
$state-success-border:           $lime;

$state-info-text:                $teal;
$state-info-bg:                  #E5F2F0;
$state-info-border:              $teal;

$state-warning-text:             $plum;
$state-warning-bg:               #F7EFF5;
$state-warning-border:           $plum;

$state-danger-text:              $amaranth;
$state-danger-bg:                #FAEFF4;
$state-danger-border:            $amaranth;
