// Color Palette
// -------------------------

$gray-darker:            #222626; // Charcoal
$gray-dark:              #7e7f80; //
$gray:                   #9fa0a1; // Medium Grey
$gray-light:             #f4f4f7; // Light Grey
$gray-lighter:           #F3F4F6; // 

$teal:                   #30957b;
$amaranth:               #f3254d;
$turquoise:              #3da285;
$plum:                   #5a2747;
$lime:                   #80bd3e;
$cream:                  #fffdf8;


$body-bg:                #ffffff;
$text-color:             #5a2747;
$brand-primary:          $plum;

$link-color:            $brand-primary;
$link-hover-color:      darken($link-color, 15%);

$font-family-sans-serif:  'Open Sans', sans-serif;
$headings-font-family:    'Raleway', sans-serif;

// Media Queries
$screen-md-max:           1199px;
$screen-sm-max:           1023px;
$screen-xs-max:           767px;

$screen-xl-min:           1400px;
$screen-lg-min:           1200px;
$screen-md-min:           1024px;
$screen-sm-min:           768px;