$gray-darker:            #222626;
$gray-dark:              #7e7f80;
$gray:                   #9fa0a1;
$silver:                 #c6c6c7;
$gray-light:             #d9d9d9;
$gray-lighter:           #F3F4F6;
$white:                  #FFFFFF;

$plum:                   #5a2747;
$teal:                   #30957b;
$amaranth:               #f3254d;
$lime:                   #80bd3e;
$sea-green:              #38957c;
$cream:                  #fffdf8;

// Map color names to tuples of (color, alternate_color) where alternate_color is the text color to use when color is the background
$colorscheme: (
  plum: ($plum, $white),
  teal: ($teal, $white),
  amaranth: ($amaranth, $white),
  lime: ($lime, $white),
  sea-green: ($sea-green, $white),

  gray: ($gray, $white),
  gray-darker: ($gray-darker, $white),
  gray-dark: ($gray-dark, $white),
  silver: ($silver, $white),
  gray-light: ($gray-light, $plum),
  gray-lighter: ($gray-lighter, $plum),
  white: ($white, $gray),
);

$body-bg:                #ffffff;
$text-color:             $gray-darker;
$brand-primary:          $plum;

$link-color:            $brand-primary;
$link-hover-color:      darken($link-color, 15%);

$font-family-sans-serif:  'Open Sans', sans-serif;
$headings-font-family:    'Raleway', sans-serif;
$font-size-normal: 16px;
$font-size-small: 14px;
$font-size-tiny: 13px;


// Animations
$use-fadeInUp       : true;
$use-fadeInDown     : true;
$use-fadeInLeft     : true;
$use-fadeInRight    : true;
$use-pulse          : true;


// Media Queries
$screen-lg-max:           1399px;
$screen-md-max:           1199px;
$screen-sm-max:           1023px;
$screen-xs-max:           767px;

$screen-xl-min:           1400px;
$screen-lg-min:           1200px;
$screen-md-min:           1024px;
$screen-sm-min:           768px;


// Form states and alerts
// Define colors for form feedback states and, by default, alerts.

$state-success-text:             $lime;
$state-success-bg:               #dff0d8;
$state-success-border:           $lime;

$state-info-text:                $teal;
$state-info-bg:                  #E5F2F0;
$state-info-border:              $teal;

$state-warning-text:             $plum;
$state-warning-bg:               #F7EFF5;
$state-warning-border:           $plum;

$state-danger-text:              $amaranth;
$state-danger-bg:                #FAEFF4;
$state-danger-border:            $amaranth;
