@import "variables";
@import "mixins";
@import "base/global";
@import "base/typography";


// Logos
#logo {
  display: none;
}

/* Backgrounds */
html{
  background-image:none;
  background-color: transparent;
}
#logo{
  background-image:none;
  background-color: transparent;
}

// Container
#container{
  background:transparent;
  border: none;
  box-shadow: none; 
  background-color: #f2f0e7;
}

// Form
.wufoo {
  font-family: $headings-font-family;
  box-sizing: border-box;
  input.text, textarea.textarea{
    background: transparent;
  }

  input, textarea {

    &.text {}
    &.number {}
  }

  label {

  }

  // TODO - Organize
  label.desc, legend.desc, section h3, .info h2{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
  }
  li div, li div label, li span label{
    font-family:inherit;
    color:#444444
  }

  input.text, textarea.textarea, select.select {
    border: none;
    border-radius: 0;
    box-shadow: none;
    padding: 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #ffffff;
    width: 100%;
    font-weight: 400;
    font-family: $headings-font-family;
    box-sizing: border-box;
  }

  select.select, label.choice{
    width: 100%;
    font-size:100%;
    font-family:inherit;
    background-color: #ffffff;
  }

  input.btTxt {
    display: inline-block;
    padding: 13px 70px;
    margin: 20px 0;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    font-size: 19px;
    border-radius: 0;
    border: none;
    background-color: #80bd3e;
    color: #fff;
    cursor: pointer;
    @include transition(.5s);
  }

  label.choice{color:#444444}

  .buttons {
    background: transparent;
    padding: 0;
    text-align: center;
  }
   // TODO - End Organize
  ////////////////

  li.focused {
    background-color: transparent;
  }
  .focused{
    background: transparent;
  }


  .instruct {
    margin: 0;
    font-family:inherit;
    font-style: normal;
    color:#444444;
    border: none;
    background-color: transparent;
    small {
      font-size: 90%;
    }
  }

  .info {
    border-bottom: none;
    h2{
      font-size:160%;
      font-family:inherit;
      color:#000000
    }
    div{
      font-size:95%;
      font-family:inherit;
      color:#444444
    }
  }

  .section {
    h3 {
      border-top: none;
      text-indent: -9999em;
      visibility: hidden;
      height: 0;
      margin: 0;
      padding: 0;
    }
    div{
      font-size:85%;
      font-family:inherit;
      color:#444444;
    }
  }

  select.select {
    position: relative;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    color: $gray;
    line-height: 60px;
    padding: 0 20px;
    border: none;
    box-shadow: none;
    margin: 0;
    display: inline-block;
    background: #fff !important;
    &:focus {
     outline: none;
    }
  }

}

// Error Messaging
#errorLi, .error-container {
  border: 1px solid #691a24;
  border-radius: 0;
}

// Confirmation Messaging
.confirm h2 {
  font-family: $headings-font-family;
  color: $brand-primary;
  background-color: rgba(255,255,255,.7);
}

//class for adding margins
.marginBottom {
  margin-bottom: 35px;
}

//specific styles for enterprise sign up form
#form8 {
  &.wufoo {
    input {
      &.btTxt {
        background-color: $lime;
        &:hover {
          background-color: $plum;
        }
      }
    }
  }
}

//specific styles for application form
#form11 {
  &.wufoo {
    box-sizing: border-box;
    li {
      background-color: transparent;
      margin: 10px 0;
      width: 100%;
      input {
        padding: 20px 15px;
        &.btTxt {
          background-color: $brand-primary;
          padding: 15px 60px;
          max-width: 100%;
          &:hover {
            background-color: $amaranth;
          }
        }
      }
      // for showing instructions within li
      &.has-instructions {
        position: relative;
        width: 100%;
        input {
          width: 100%;
        }
        .instruct {
          visibility: visible;
          position: relative;
          display: block;
          opacity: 1;
          left: auto;
          top: auto;
          width: 100%;
          padding: 5px;
          font-style: italic;
        }
      }
      // for showing instructions next to field
      &.instructions-right {
        padding-left: 0;
        background-color: transparent;
        box-sizing: border-box;
        input {
          width: 49%;
          padding: 15px 10px;
          box-sizing: border-box;
        }
        .instruct {
          left: 50%;
          visibility: visible;
          opacity: 1;
          display: block;
        }
      }
      
    }
  }
}

//specific styles for subtitle request form
#form9 {
  &.wufoo {
    input {
      padding: 15px 12px;
      &.btTxt {
        background-color: $amaranth;
        padding: 15px 60px;
        max-width: 100%;
        color: #fff;
        @include transition(.5s);
        &:hover {
          background-color: $plum;
        }
      }
    }
    li {
      &.buttons {
        padding: 6px;
      }
    }
    textarea {
      height: 52px
    }
  }
}

// media
@media(max-width: $screen-md-max) {

}

@media(max-width: $screen-sm-max) {

}

@media(max-width: $screen-xs-max) {
  .marginBottom {
    margin-bottom: 0;
  }
  .wufoo {
    li {
      &.leftHalf, &.rightHalf {
        width: auto !important;
        float: none;
      }
      input {
        width: 100%;
      }
    }
  }
  #form11 {
    &.wufoo {
      li {
        // for showing instructions next to field
        &.instructions-right {
          input {
            padding: 12px;
          }
          .instruct {
            position: relative;
            width: 100%;
            left: auto;
            top: auto;
          }
        }
        &.leftHalf, &.rightHalf {
          width: auto !important;
          float: none;
        }
      }
    }
  }
}

