// Dropdowns
.dropdown-toggle {
  &:active, &:focus, &:hover, &:visited {
    background: transparent;
  }
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: $z-index-menu;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: $gray-darker;
  border: none;
  border-radius: 0;
  box-shadow: 0 6px 12px rgba(0,0,0,0.175);
  background-clip: padding-box;
  li {
    a {
      display: block;
      padding: 3px 20px;
      clear: both;
      font-weight: normal;
      line-height: 1.42857143;
      color: #ffffff;
      white-space: nowrap;
    }
  }
  &:before {
    content: '';
    position: absolute;
    display: block;
    top:-8px;
    left:50%;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid $gray-darker;
  }
}

.dropdown {
  button {
    background: transparent;
    border: none;
  }
  .searchbar {
    position: absolute;
    top: 5px;
    left: 10px;
    width: calc(100% - 20px);
  }
  .easy-autocomplete-container {
    height: 175px;
    overflow: scroll;
    ul {
      display: block !important;
      background: $gray-darker;
      border: none;
      li {
        line-height: 1.2;
        font-size: 12px;
        border: none;
        color: #fff;
      }
    }
  }
}

.topNav {
  .dropdown {
    .dropdown-toggle {
      padding: 0 10px 0 0;
      line-height: 30px;
      color: $text-color;
      &:active, &:focus, &:hover, &:visited {
        background: transparent;
      }
    }
  }
  .dropdown-menu {
    left: auto;
    right: 0;
    width: auto;
    background: #fff;
    border: 1px solid $gray-light;
    border-radius: $border-radius-base;
    &:before, &:after {
      content: '';
      position: absolute;
      display: block;
      top: -9px;
      right: 5px;
      left: auto;
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 8px solid $gray-light;
    }
    &:after {
      top: -8px;
      border-bottom-color: #fff;
    }
    li {
      a {
        color: $gray-dark;
      }
    }
  }
}
