// Tabs
//
// Example:
// <ul class="nav nav-tabs">
//   <li class="active"><a href="#tab_one" data-toggle="tab">Tab One</a></li>
//   <li><a href="#tab_two" data-toggle="tab">Tab Two</a></li>
//   <li><a href="#tab_three" data-toggle="tab">Tab Three</a></li>
// </ul>
// <div class="tab-content">
//   <div id="tab_one" class="tab-pane active">
//     Tab One Content...
//   </div>
//   <div id="tab_two" class="tab-pane">
//     Tab Two Content...
//   </div>
//   <div id="tab_three" class="tab-pane">
//     Tab Three Content...
//   </div>
// </div>
//
// Styleguide tabs
ul.nav-tabs {
  list-style: none;
  border-bottom: none;
  li {
    display: block;
    position: relative;
    float: left;
    margin: 0 10px;
    list-style: none;
    &:first-child {
      margin-left: 0;
    }
    a {
      padding: 10px 0;
      border: none;
      border-bottom: 2px solid transparent;
      font-weight: 300;
      color: $teal;
      background-color: transparent;
      &:hover, &:focus {
        background-color: transparent;
        border-bottom: 2px solid transparent;
      }
    }
    &.active {
      a {
        border: none;
        border-bottom: 2px solid $teal;
        outline: none;
        color: $teal;
        font-weight: 600;
        background-color: transparent;
        &:hover, &:focus, &:active {
          color: $turquoise;
          font-weight: 600;
          border: none;
          border-bottom: 2px solid $teal;
          background-color: transparent;
        }
      }
    }
  }
}

.tab-pane {
  position: relative;
  padding: 15px 0;
  min-height: 400px;
  .tab-actions {
    text-align: right;
    margin-bottom: 10px;
    .switch {
      top: 8px;
      margin-right: 20px;
    }
    form {
      display: inline-block;
    }
  }
  .tab-content {

  }
}