#page-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: #fff;
  font-family: $headings-font-family;
  box-shadow: 0 0px 10px rgba(0,0,0,0.1);
  @include transition();
}

// Media Queries

@media(max-width: $screen-lg-max) {

}

@media(max-width: $screen-md-max) {

}

@media(max-width: $screen-sm-max) {
  #page-header {
    .container {
      width: 100%;
      padding: 0;
    }
  }
}

@media(max-width: $screen-xs-max) {

}