#page-footer {
  .navbar-nav {
    float: none;
  }
}

.pcf {
  padding-left: 50px;
  position: relative;
  line-height: 1;
  padding: 20px 20px 20px 70px;
  img {
    position: absolute;
    left: 10px;
    top: 15px;
  }
}

// Media Queries
@media(max-width: $screen-md-max) {

}

@media(max-width: $screen-sm-max) {

}

@media(max-width: $screen-xs-max) {

}