#page-footer {
  .navbar-nav {
    float: none;
  }
  a {
    font-weight: 400;
    color: $gray-darker;
    &:hover {
      color: $lime;
      background-color: transparent;
    }
  }
  p {
    color: $gray-darker;
  }
  i {
    color: $teal;
    font-size: 25px;
  }
}

#footer-logo {
  width: 250px;
  margin-bottom: 20px;
}

.pcf {
  padding-left: 50px;
  position: relative;
  line-height: 1;
  padding: 25px 25px 25px 80px;
  img {
    position: absolute;
    left: 10px;
    top: 15px;
  }
}

#legalnav {
  padding: 0 25px;
  a {
    font-size: 12px;
    padding: 10px;
  }
}

// Media Queries
@media(max-width: $screen-md-max) {

}

@media(max-width: $screen-sm-max) {

}

@media(max-width: $screen-xs-max) {

}