.platform_view {
  
}


#subtitling-solutions {
  .img-responsive {
    margin: 20px auto;
  }
}

#get-started {
  padding-bottom: 0;
}

#how-to-use {
  i {
    font-size: 40px;
  }
}

// Media Queries
@media(max-width: $screen-lg-max) {

}

@media(max-width: $screen-md-max) {

}

@media(max-width: $screen-sm-max) {

}

@media(max-width: $screen-xs-max) {

}