.volunteer_view {

}

.team-profile {
  display: flex;
  align-items: flex-start;
  margin-top: 20px;
  margin-bottom: 20px;
  h3 {
    margin-top: 0;
  }
  .team-logo {
    width: 150px;
    margin: 0;
    margin-right: 25px;
  }
  .team-details {
    margin: o;
  }
}

// Media Queries


@media(max-width: $screen-lg-max) {

}

@media(min-width: $screen-lg-min) {
  .volunteer_view {
    .intro {
      height: 475px;
    }
  }
}

@media(max-width: $screen-md-max) {

}

@media(max-width: $screen-sm-max) {

}

@media(max-width: $screen-xs-max) {

}
