.volunteer_view {

}

.company-profile {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  img {
    position: absolute;
    top: 0;
    left: 0;
  }
  .company-details {
    padding-left: 120px;
  }
}

// Media Queries
@media(max-width: $screen-lg-max) {

}

@media(max-width: $screen-md-max) {

}

@media(max-width: $screen-sm-max) {

}

@media(max-width: $screen-xs-max) {

}
