@font-face {
  font-family: 'amara';
  src:  url('/assets/fonts/amara.eot?5wa0dq');
  src:  url('/assets/fonts/amara.eot?5wa0dq#iefix') format('embedded-opentype'),
    url('/assets/fonts/amara.woff2?5wa0dq') format('woff2'),
    url('/assets/fonts/amara.ttf?5wa0dq') format('truetype'),
    url('/assets/fonts/amara.woff?5wa0dq') format('woff'),
    url('/assets/fonts/amara.svg?5wa0dq#amara') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'amara' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-alert:before {
  content: "\e901";
}
.icon-approve_outline:before {
  content: "\e907";
  color: #444d4d;
}
.icon-approve:before {
  content: "\e90a";
}
.icon-arrow:before {
  content: "\e90c";
}
.icon-avatar-default:before {
  content: "\e90f";
}
.icon-avatar-team:before {
  content: "\e910";
}
.icon-clock:before {
  content: "\e911";
}
.icon-complete:before {
  content: "\e912";
  color: #444d4d;
}
.icon-deny:before {
  content: "\e913";
}
.icon-evaluate:before {
  content: "\e914";
}
.icon-incomplete:before {
  content: "\e915";
}
.icon-info:before {
  content: "\e916";
}
.icon-initial-work:before {
  content: "\e917";
  color: #444d4d;
}
.icon-mail:before {
  content: "\e918";
}
.icon-review:before {
  content: "\e919";
  color: #444d4d;
}
.icon-search:before {
  content: "\e91a";
}
.icon-star:before {
  content: "\e91b";
}
.icon-transcribe:before {
  content: "\e91c";
  color: #444d4d;
}
.icon-translate:before {
  content: "\e91d";
  color: #444d4d;
}
.icon-trash:before {
  content: "\e91e";
}
.icon-caret:before {
  content: "\e900";
}
.icon-external:before {
  content: "\e902";
}
.icon-facebook:before {
  content: "\e903";
}
.icon-instagram:before {
  content: "\e904";
}
.icon-linkedin:before {
  content: "\e905";
}
.icon-play:before {
  content: "\e908";
}
.icon-print:before {
  content: "\e909";
}
.icon-share:before {
  content: "\e90b";
}
.icon-twitter:before {
  content: "\e90d";
}
.icon-youtube:before {
  content: "\e90e";
}