body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $font-family-sans-serif;
  line-height: 1.4;
  font-size: 16px;
  color: $brand-primary;
}

section {
  padding: 50px 0;
  clear: both;
}

a {
  color: $teal;
  &:hover, &:focus, &:visited {
    text-decoration: none;
  }
}



// Media Queries
@media(max-width: $screen-md-max) {

}

@media(max-width: $screen-sm-max) {

}

@media(max-width: $screen-xs-max) {

}