h1, h2, h3, h4, h5, h6 {
  font-family: $headings-font-family;
  color: $brand-primary;
  font-weight: 400;
}

h1, .h1 { font-size: 45px; margin-bottom: 20px; }
h2, .h2 { font-size: 25px; }
h3, .h3 { font-size: 20px; font-weight: 700; }
h4, .h4 { font-size: 17px; }

em {

}

.lead {
  font-family: $headings-font-family;
  font-size: 24px;
}




// Media Queries
@media(max-width: $screen-md-max) {

}

@media(max-width: $screen-sm-max) {

}

@media(max-width: $screen-xs-max) {

}