// Layout
.container {
  position: relative;
}
.content {
  position: relative;
  padding: 20px;
  @extend .clearfix;
}

.clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
  }
  &:after {
    clear: both;
  }
}

.break-50 {
  width: 50% !important;
}
.break-60 {
  width: 60% !important;
}
.break-70 {
  width: 70% !important;
}
.break-80 {
  width: 80% !important;
}
.break-90 {
  width: 90% !important;
}

// column wrap 
.col2 {
  column-count: 2;
  column-gap: 40px;
  li {
    break-inside: avoid;
    margin-bottom: 0;
    margin-top: 1em;
    &:first-child {
      margin-top: 0;
    }
  }
}
.col3 {
  column-count: 3;
  column-gap: 40px;
  li {
    break-inside: avoid;
    margin-bottom: 0;
    margin-top: 1em;
  }
}

.italic {
  font-style: italic;
}

.muted, .faded {
  opacity: 0.5;
}

img.pull-left {
  margin-right: 12px;
}
img.pull-right {
  margin-left: 12px;
}

// Color utilities
.bg-lime {
  @include palette($lime, #ffffff);
}

.bg-teal {
  @include palette($teal, #ffffff);
}

.bg-amaranth {
  @include palette($amaranth, #ffffff);
}

.bg-plum {
  @include palette($plum, #ffffff);
}

.bg-cream {
  @include palette($cream, $gray);
}

.bg-gray-lighter {
  @include palette($gray-lighter, $plum);
}



// Text Utilities
.text-white { color: #fff !important; }
.text-plum { color: $plum !important; }
.text-lime { color: $lime !important; }
.text-teal { color: $teal !important; }
.text-amaranth { color: $amaranth !important; }
.text-cream { color: $cream !important; }

.text-nocase { text-transform: none !important; }
.text-capitalize { text-transform: capitalize !important; }
.text-lowercase { text-transform: lowercase !important; }
.text-uppercase { text-transform: uppercase !important; }


//play button
.play-button {
  display: flex;
  align-items: center;
  text-transform: capitalize;
  &.center {
    justify-content: center;
  }
  &:hover {
    i {
      color: $amaranth;
    }
  }
  i {
    font-size: 40px;
    margin-right: 10px;
  }
}

//caret styles
.caret {
  border-right: 3px solid transparent;
  border-left: 3px solid transparent;
}

// Media Queries
@media(min-width: $screen-xl-min) {
  .container {
    width: 1400px;
  }
}

@media(max-width: $screen-md-max) {

}

@media(max-width: $screen-sm-max) {

}

@media(max-width: $screen-xs-max) {
  // breaks go to full width
  .break-50,
  .break-60,
  .break-70,
  .break-80,
  .break-90, {
    width: 100% !important;
  }

  // columns stop wrapping 
  .col2 {
    column-count: 1;
  }
  .col3 {
    column-count: 1;
  }
}