// Action Bar
//
// Example:
// <div id="styleGuide-actionBar" class="actionBar">
//   <button class="button cta" data-toggle="modal" data-target="#modal_id">Move</button>
//   <button class="button cta">Mark complete</button>
//   <button class="button cta">Manage assignments</button>
//   <button class="button cta-reverse">Delete</button>
//   <button class="button inline">Deselect</button>
// </div>
// <button class="actionBar-open button cta" data-target="#styleGuide-actionBar">Open Action Bar</button>
// 
// Styleguide actionBar

.banner-container {
  max-width: 940px;
  max-height: 235px;
  overflow: hidden;
  text-align: center;

  img.banner-image {
    position: relative;
    margin-left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);  
  }
}
