// Searchbar
//
// Example:
// <div class="form-group searchbar">
//   <label class="sr-only">Search members</label>
//   <input type="text" placeholder="Search members">
// </div>
//
// Styleguide searchbar

.searchbar {
  position: relative;
  &:after {
    font-family: 'amara' !important;
    content: "\e91a";
    display: block;
    position: absolute;
    right: 16px;
    top: 0;
    speak: none;
    text-transform: none;
    font-size: 1.4325rem;
    line-height: 22px;
    padding-top: 9px;
    color: $gray;
  }
}
