// Search results / Select List
//
// Example:
// <nav class="nav-actions">
//   <div class="checkbox">
//     <input id="styleGuide-selectAll" class="selectAll" type="checkbox" value="" data-target="#styleGuide-selectList">
//     <label for="styleGuide-selectAll" class="text-gray"><span></span> Select all</label>
//   </div>
// </nav>
// <ul id="styleGuide-selectList" class="selectList" data-target="#styleGuide-selectList-actionBar">
//   <li class="row condensed">
//     <div class="checkbox">
//       <input id="styleGuide_item_1" type="checkbox" class="selectList-checkbox" value="item_1">
//       <label for="styleGuide_item_1"><span></span></label>
//     </div>
//     <div class="context-menu">
//       <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></a>
//       <ul class="dropdown-menu">
//         <li><a href="#">Menu Item</a></li>
//         <li class="divider"></li>
//         <li><a href="#">Menu Item</a></li>
//         <li><a href="#">Menu Item</a></li>
//         <li><a href="#">Menu Item</a></li>
//         <li class="divider"></li>
//         <li><a href="#">Menu Item</a></li>
//       </ul>
//     </div>
//     <div class="col-xs-11">
//       <div class="selectList-thumb">
//         <div class="thumbWrapper">
//           <img src="media/images/styleguide/placehold4.3.png" alt="Placeholder Image">
//         </div>
//       </div>
//       <h3><a href="#">Daniele Quercia: Happy Maps</a></h3>
//       <h4>Transcription</h4>
//       <ul class="inline">
//         <li><strong>Source:</strong> English</li>
//         <li><strong>Target:</strong> Dutch</li>
//       </ul>
//       <ul class="stepList wide">
//         <li data-toggle="tooltip" data-placement="top" data-content="Transcriber: Naiara Pérez de Villarreal Amilburu">
//           <img src="https://s3.amazonaws.com/s3.www.universalsubtitles.org/gravatar/default-50.png" class="avatar">
//         </li>
//         <li><i class='icon icon-review'></i></li>
//         <li><i class='icon icon-approve'></i></li>
//       </ul>
//       <p>Review due in 2 days</p>
//     </div>
//   </li>
//   <li class="row condensed">
//     <div class="checkbox">
//       <input id="styleGuide_item_2" type="checkbox" class="selectList-checkbox" value="item_2">
//       <label for="styleGuide_item_2"><span></span></label>
//     </div>
//     <div class="context-menu">
//       <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></a>
//       <ul class="dropdown-menu">
//         <li><a href="#">Menu Item</a></li>
//         <li class="divider"></li>
//         <li><a href="#">Menu Item</a></li>
//         <li><a href="#">Menu Item</a></li>
//         <li><a href="#">Menu Item</a></li>
//         <li class="divider"></li>
//         <li><a href="#">Menu Item</a></li>
//       </ul>
//     </div>
//     <div class="col-xs-11">
//       <div class="selectList-thumb">
//         <div class="thumbWrapper">
//           <img src="media/images/styleguide/placehold4.3.png" alt="Placeholder Image">
//         </div>
//       </div>
//       <h3><a href="#">Daniele Quercia: Happy Maps</a></h3>
//       <h4>Transcription</h4>
//       <ul class="inline">
//         <li><strong>Source:</strong> English</li>
//         <li><strong>Target:</strong> Dutch</li>
//       </ul>
//       <ul class="stepList wide">
//         <li data-toggle="tooltip" data-placement="top" data-content="Transcriber: Naiara Pérez de Villarreal Amilburu">
//           <img src="https://s3.amazonaws.com/s3.www.universalsubtitles.org/gravatar/default-50.png" class="avatar">
//         </li>
//         <li><i class='icon icon-review'></i></li>
//         <li><i class='icon icon-approve'></i></li>
//       </ul>
//       <p>Review due in 2 days</p>
//     </div>
//   </li>
//   <li class="row condensed">
//     <div class="checkbox">
//       <input id="styleGuide_item_3" type="checkbox" class="selectList-checkbox" value="item_3">
//       <label for="styleGuide_item_3"><span></span></label>
//     </div>
//     <div class="context-menu">
//       <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></a>
//       <ul class="dropdown-menu">
//         <li><a href="#">Menu Item</a></li>
//         <li class="divider"></li>
//         <li><a href="#">Menu Item</a></li>
//         <li><a href="#">Menu Item</a></li>
//         <li><a href="#">Menu Item</a></li>
//         <li class="divider"></li>
//         <li><a href="#">Menu Item</a></li>
//       </ul>
//     </div>
//     <div class="col-xs-11">
//       <div class="selectList-thumb">
//         <div class="thumbWrapper">
//           <img src="media/images/styleguide/placehold4.3.png" alt="Placeholder Image">
//         </div>
//       </div>
//       <h3><a href="#">Daniele Quercia: Happy Maps</a></h3>
//       <h4>Transcription</h4>
//       <ul class="inline">
//         <li><strong>Source:</strong> English</li>
//         <li><strong>Target:</strong> Dutch</li>
//       </ul>
//       <ul class="stepList wide">
//         <li data-toggle="tooltip" data-placement="top" data-content="Transcriber: Naiara Pérez de Villarreal Amilburu">
//           <img src="https://s3.amazonaws.com/s3.www.universalsubtitles.org/gravatar/default-50.png" class="avatar">
//         </li>
//         <li><i class='icon icon-review'></i></li>
//         <li><i class='icon icon-approve'></i></li>
//       </ul>
//       <p>Review due in 2 days</p>
//     </div>
//   </li>
// </ul>
// 
// <div id="styleGuide-selectList-actionBar" class="actionBar">
//   <button class="button cta-reverse" data-toggle="modal" data-target="#styleGuideDialog-delete">Delete</button>
//   <button class="button borderless deselectAll" data-target="#styleGuide-selectList">Deselect</button>
// </div>
// 
// <div id="styleGuideDialog-delete" class="modal fade">
//   <div class="modal-dialog modal-sm">
//     <div class="modal-content">
//       <button type="button" class="dialogButton-closeModal" data-dismiss="modal">
//         <span>&times;</span>
//       </button>
//       <div class="dialogHeader text-center">
//         <h4 class="dialogTitle">Are you sure that you want to delete selected videos?</h4>
//       </div>
//       <form class="text-center">
//         <div class="checkbox">
//           <input id="" type="checkbox" class="selectList-checkbox" value="">
//           <label for=""><span></span>Include all XX filtered videos</label>
//         </div>
//         <button class="button cta" type="submit">Delete</button>
//         <button class="button cta-reverse" data-dismiss="modal">Cancel</a>
//       </form>
//     </div>
//   </div>
// </div>
//
// Styleguide selectList

ul.selectList {
  display: flex;
  flex-wrap: wrap;
  > li {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 30px;
    color: $gray-dark;
    &:hover {
      .context-menu {
        display: block;
      }
    }
  }
  h3 {
    font-family: $headings-font-family;
    font-weight: 500;
    margin: 0;
  }
  h4 {
    font-size: 13px;
    font-weight: 600;
    color: $gray-darker;
    margin: 0;
  }
  h3, h4 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  dl {
    margin-bottom: 10px;
    dt,dd{display:inline; font-weight: 100;}
    dt {color: $gray-darker;}
    dd {margin-right: 10px;}
  }
  .actions {
    position: absolute;
    top: 0;
    right: 0;
    a, button {
      color: $gray-light;
      &:hover, &:focus, &:active {
        color: $teal;
      }
    }
    i {
      font-size: 18px;
      margin-left: 3px;
      &.icon-close {
        font-size: 16px;
      }
      &.icon-mail {
        font-size: 22px;
      }
    }
  }
  .selectList-thumb {
    width: 220px;
    float: left;
    margin-right: 20px;
  }
  .context-menu {
    display: none;
    position: absolute;
    top: 0;
    right: 10px;
    .dropdown-toggle {
      width: 20px;
      height: 20px;
      background-color: $teal;
      display: block;
      text-align: center;
      line-height: 20px;
      .caret {
        margin: 0;
        color: #ffffff;
      }
    }
    >.dropdown-menu {
      width: auto;
      left: auto;
      right: -5px;
      background: #fff;
      border: 1px solid #d9d9d9;
      border-radius: 4px;
      &:before, &:after {
        content: '';
        position: absolute;
        display: block;
        top: -9px;
        right: 6px;
        left: auto;
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid #d9d9d9;
      }
      &:before {
        left: auto;
        right: 7px;
      }
      &:after {
        top: -8px;
        border-bottom-color: #fff;
      }
      li {
        a {
          color: #7e7f80;
        }
      }
    }
  }
}

// TODO - refactor this. Probably can be generalized.

.selectList-members {
  div {
    margin-right: 5px;
  }
  .selectList-memberDetails {
    width: 280px;
  }

  .selectList-itemActions {
    i {
      font-size: 22px;
    }
  }
}

.selectList-messages {
  .message {
    margin-bottom: 0;
  }
}
