// Switches
//
// Example:
// <h4>Ludicrous SPEED</h4>
// <label class="switch">
//   <input type="checkbox">
//   <div class="slider round">
//     <span class="switchText on">ON</span>
//     <span class="switchText off">OFF</span>   
//   </div>
// </label>
//
// Styleguide switch

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 16px;
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $gray;
    transition: .4s;
  }
  
  .switchText {
    position: absolute;
    top: 1px;
    z-index: 10;
    font-size: 10px;
    @include transition(.5s);
    &.off {
      opacity: 1;
      right: 5px;
      left: auto;
    }
    &.on {
      opacity: 0;
      left: 5px;
      right: auto;
    }
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 1px;
    bottom: 1px;
    background-color: white;
    color: #fff;
    text-indent: 16px;
    // font-size: 10px;
    line-height: 14px;
    transition: .4s;
    z-index: 15;
  }

  .slider:after {
    position: absolute;
    content: "";
    background-color: transparent;
    color: #fff;
    // font-size: 10px;
    text-indent: 5px;
    line-height: 16px;
    transition: .4s;
    opacity: 0;
  }

  input {display:none;}

  input:checked + .slider {
    background-color: $teal;
    .switchText {
      &.on {
        opacity: 1;
        right: auto;
      }
      &.off {
        opacity: 0;
      }
    }
  }

  input:focus + .slider {
    box-shadow: 0 0 1px $teal;
  }

  input:checked + .slider:before {
    color: transparent;
    transform: translateX(24px);
  }
  input:checked + .slider:after {
    opacity: 1;
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
}

.switchFollow {
  float: right;
  margin-top: -20px;
  span.switchLabel {
    display: inline-block;
    margin-right: 5px;
    position: relative;
    top: -8px;
    color: $gray;
  }
  .switch {
    margin-top: 8px;
  }
}