// Zero State
//
// Used to represent the absense of objects, like no videos on a team, no requests available, etc.
//
// Example:
// <div class="zero-state">
//   <p>Zero state message</p>
// </div>
//
// Example:
// <h2>This is an example of a heading or video title</h2>
// <div class="zero-state">
//   <p>Zero state message</p>
// </div>
// 
// Example:
// <select name="" id="" class="select" data-ajax="member-search" placeholder="Search members"></select>
// <div class="zero-state">
//   <p>Zero state message</p>
// </div>
// 
// Example:
// <div id="dashboard">
//   <div class="zero-state">
//     <p>DASHBOARD Zero state message</p>
//   </div>
// </div>
//
// Styleguide zeroState

.zero-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  padding: 20px;
  text-align: center;
  background-color: transparent;
  border: 1px solid $solitude;
  margin: 27px 0;
  h3 {
    font-size: 15px;
    font-weight: 200;
    small { font-size: 12px; }
  }
  p {
    font-size: 13px;
  }
}

// @media all and (max-width: $screen-md-max) {}

// @media all and (max-width: $screen-sm-max) {}

// @media all and (max-width: $screen-xs-max) {}
