#video_details {
  h6 {
    small {
      color: inherit;
      font-weight: 400;
      font-size: 13px;
    }
  }
  
  #video_info {
    position: relative;
    padding-top: 30px;
  }
  #video_activity {
    table {
      tr {
        td {
          &:first-child {
            width: 50px;
          }
        }
      }
    }
  }
  #video_urls {
    tr.primary {
      font-weight: bold;
    }
  }
}
.videoDetails-assignments {
  // Temp fix for responsive embedded players
  background-color: #ffffff;
  min-height: 500px;
}



@media (max-width: 1024px) {
  #video_details {
    .player {
      min-height: 0;
    }    
  }
}

@media (max-width: 768px) {
  #video_details {
    dl {
      dt,
      dd {
        width: 100%;
        margin-right: 0;
      }
    }
  }
}
