.accordion-section {
  margin-bottom: 12px;
}

.accordion-title {
  padding: 12px 16px;
  margin: 0;
  background: $lime;
  color: $white;
  position: relative;
  cursor: pointer;
}

.accordion-caret {
  position: absolute;
  right: 16px;
  top: 12px;

  @include fa-icon;
  @extend .fas;
  font-size: 25px;
  font-weight: 900;

  &:before {
    content: fa-content($fa-var-angle-up);

    .accordion-section.expanded & {
      content: fa-content($fa-var-angle-down);
    }
  }
}

.accordion-content {
  display: none;

  .accordion-section.expanded & {
    display: block;
  }
}
