button {
  padding: 0 20px;
  color: $link-color;
  border: none;
  background: none;
  background-color: transparent;
  appearance: none;
  i {
    display: inline-block;
    font-size: inherit;
  }
  &:active,
  &:focus {
    outline: none;
    text-decoration: none;
  }
  &.inline {
    padding: 0;
    color: $link-color;
    border: none;
    background: none;
    background-color: transparent;
    &:hover {
      color: $link-hover-color;
    }
  }
  &.sort {
    color: $text-color;
    text-transform: uppercase;
    font-style: italic;
    font-size: 13px;
  }
}


.button {
  display: inline-block;
  padding: 12px 60px;
  margin-top: 20px;
  font-family: $headings-font-family;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  font-size: 19px;
  border: none;
  background-color: $gray;
  color: #fff;
  @include transition(0.4s);
  &:focus, &:visited {
    color: #fff;
  }
  &.button-plum {
    background-color: $plum !important;
  }
  &.button-amaranth {
    background-color: $amaranth !important;
  }
  &.button-lime {
    background-color: $lime !important;
    &:hover {
      background-color: $teal !important;
    }
  }
  &.button-teal {
    background-color: $teal !important;
  }
  &.button-gray {
    background-color: $gray !important;
  }
  &.button-transparent {
    background-color: transparent;
    color: $teal;
    text-transform: capitalize;
    margin-top: 10px;
    &:hover {
      background-color: transparent !important;
      color: $lime;
    }
  }
  &:hover {
    background-color: $lime !important;
    color: $white;
  }
  &.button-block {
    display: block;
    width: 100%;
  }
}


// Media Queries
@media(max-width: $screen-md-max) {

}

@media(max-width: $screen-sm-max) {

}

@media(max-width: $screen-xs-max) {
  .button {
    font-size: 16px;
  }
}
