// Tags
//
// Used to provide a clickable action to the user.  These should typically be used for things that change state in some way. Use the button classes on an `<a>`, `<button>`, or `<input>` element. Use `<a>` tags for simple navigation.
//
// Example:
// <a class="button" href="#" role="button">Link</a>
// <button class="button">Button</button>
// <input class="button" type="button" value="Input">
// <input class="button" type="submit" value="Submit">
//
// Styleguide buttonTags


button {
  border: none;
  background-color: transparent;
  color: $teal;
  &:disabled {
    color: light($gray);
  }
  &:focus {
    outline: none;
  }
}

// Options
// 
// Use any of the available button classes to quickly create a styled button.
// 
// .small - Small sized button
// .block - Full width button
// .cta  - Call-to-action button.  Displayed with a plum color.  A typical use for this is the buttons to create subtitles
// .cta-reverse  - Reversed call-to-action button.  Used for delete, remove, etc.
// .borderless  - borderless button.  Used for cancelation, deselection, etc.
// .inline  - inline button
// .disabled  - A disabled button
// 
// Example:
// <button type="button" class="button $modifier_class">Click me</button>
// 
// Styleguide buttonOptions

.button {
  display: inline-block;
  width: auto;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding: 7px 30px;
  font-family: $font-family-sans-serif;
  font-size: $font-size-normal;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  background-image: none;
  white-space: nowrap;
  line-height: 1.42857;
  user-select: none;
  touch-action: manipulation;
  cursor: pointer;
  color: #fff;
  background-color: $teal;
  border: 1px solid $teal;
  @include no-underline;
  @include transition(0.4s);
  &.block {
    display: block;
    width: 100%;
    margin-bottom: 5px;
  }
  &.small {
    padding: 2px 15px;
    font-size: 13px;
    line-height: 1.5em;
  }
  &.tall {
    padding: 14px 30px;
  }
  &.disabled {
    background-color: light($gray);
    border-color: light($gray);
    color: #393839;
    cursor: default;
    &:hover, &.hover, &:focus {
      color: #393839;
      background-color: light($gray);
      border-color: light($gray);
    }
  }
  &.cta {
    color: #fff;
    background-color: $teal;
    border-color: $teal;
  }
  &.cta-reverse {
    color: $teal;
    background-color: transparent;
    border-color: $teal;
  }

  @each $name, $color_info in $colorscheme {
    $color: nth($color_info, 1);
    $alternate: nth($color_info, 2);

    &.#{$name} {
      background-color: $color;
      border-color: $color;
      color: $alternate;
    }
  }

  &.inline {
    display: inline-block;
    line-height: inherit;
    padding: 0;
    color: $teal;
    background-color: transparent;
    border-color: transparent;
    &:hover, &.hover, &:focus {
      color: $lime;
      background-color: transparent;
      border-color: transparent;
    }
  }
  &.borderless {
    color: $teal;
    background-color: transparent;
    border-color: transparent;
    &.inline {
      margin: 0 10px;
    }
  }
  &:hover, &.hover, &:focus {
    color: #fff;
    border-color: $lime;
    background-color: $lime;
    outline: none;

    &.lime {
      border-color: $teal;
      background-color: $teal;
    }
  }
  i {
    margin-right: 9px;
  }

  &.marketing {
    // buttons on the marketing pages don't fit our general styles.
    font-size: 19px;
    text-transform: uppercase;
    margin: 20px 0 0 0;
    font-weight: 700;
    padding: 12px 60px;

    &.transparent {
      background: none;
      border-color: transparent;
      color: $teal;
      text-transform: none;
      &:hover, &.hover {
        color: $lime;
      }
    }
  }
}


.collapseButton-moreLess {
  color: $charcoal;
  font-weight: 600;
  &:before {
    display: inline-block;
    position: relative;
    content: "Less";
  }
  i {
    display: inline-block;
    margin-left: 10px;
    transform: rotate(-90deg);
  }
  &.collapsed {
    &:before {
      content: "More";
    }
    i {
      transform: rotate(90deg);
    }
  }
}

// Async Buttons
//
// Used to provide user interaction feedback for buttons that fire asynchronous events
//
// Example:
// <a class="button asyncButton" href="#" role="button">Link</a>
// <a class="button asyncButton active" href="#" role="button">Link</a>
//
// Styleguide asyncButton

.asyncButton {
  &.active {
    color: transparent;
    background-image: url(/images/loading_ellipsis.gif);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 25px;
    pointer-events: none;
  }
}
