.form-control {
  height: 48px;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

textarea {
  background: $gray-lighter;
  padding: 20px;
  border: none;
  border-left: 10px solid $brand-primary;
  height: 130px;
  width: 100%;
}
#saveForm {
  border: none;
  margin-top: 30px;
}

#form8 {
  button {
    width: 300px;
  }
}


// Media Queries
@media(max-width: $screen-md-max) {

}

@media(max-width: $screen-sm-max) {

}

@media(max-width: $screen-xs-max) {
  #form8 {
    button {
      width: auto;
      padding: 12px 20px;
    }
  }
}