.grid {
  display: flex;
  &.between {
    justify-content: space-between;
  }
  &.wrap {
    flex-wrap: wrap;
  }
  &.icons-grid {
    margin: 20px 0;
    .item {
      margin-right: 40px;
      margin-bottom: 10px;
      text-align: center;
      width: 60px;
    }
  }
  .col-* {
    float: none;
  }
}

// Media Queries
@media(max-width: $screen-md-max) {

}

@media(max-width: $screen-sm-max) {

}

@media(max-width: $screen-xs-max) {
  .grid {
    display: block;
  }
}