.grid {
  display: flex;

  &.between {
    justify-content: space-between;
  }
  &.wrap {
    flex-wrap: wrap;
  }
  &.icons-grid {
    margin: 20px 0;
    .item {
      margin-right: 40px;
      margin-bottom: 10px;
      text-align: center;
      width: 85px;
    }
  }
  .col-* {
    float: none;
  }

  &.team {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    > div {
      width: 50%;
      margin: 0 auto;
    }
  }
}

// Media Queries
@media(max-width: $screen-md-max) {

}

@media(max-width: $screen-sm-max) {
  .grid {
    &.team {
      > div {
        width: 100%;
      }
    }
  }
}

@media(max-width: $screen-xs-max) {
  .grid {
    display: block;
    &.icons-grid {
      display: flex;
      .item {
        width: 15%;
      }
    }
  }
}