
.illustration-section {
  position: relative;
}

.illustration {
  position: absolute;
  display: flex;
  justify-content:  center;
  align-items: center;
  top: 0; bottom: 0;
  left: 0; right: auto;
  height: 100%;
  width: 60%;
  // background-color: rgba(0,0,0,0.1);
  overflow: hidden;
  &.logo-animation {
    width: 50%;
  }
  &.illustration-left {
    left: 0;
    right: auto;
  }
  &.illustration-right {
    right: 0;
    left: auto;
  }
  &.illustration-full {
    width: 100%;
    left: 0;
    right: auto;
  }
  &.illustration-bottom {
    top: auto;
    bottom: 0;
  }
  img {
    display: block;
    max-width: 100%;
    height: auto;
    z-index: 0;
  }
  svg {
    position: absolute;
    display: block;
    max-width: 100%;
    height: auto;
    z-index: 0;
  }
}

// Media Queries
@media(max-width: $screen-md-max) {

}

@media(max-width: $screen-sm-max) {
  .illustration {
    position: relative;
    width: 100%;
  }
}

@media(max-width: $screen-xs-max) {

}
