// Lists
//
// Example:
// <ul>
//   <li>List item One</li>
//   <li>List item Two</li>
//   <li>List item Three</li>
// </ul>
// 
// Example:
// <ul class="tight">
//   <li>List item One</li>
//   <li>List item Two</li>
//   <li>List item Three</li>
// </ul>
// 
// Example:
// <ul class="bullets">
//   <li>List item One</li>
//   <li>List item Two</li>
//   <li>List item Three</li>
// </ul>
// 
// Styleguide lists
dl {
  margin: 0;
}

dt {
  font-weight: bold;
}

dd {
  font-weight: normal;
  padding-bottom: 8px;
}

@include respond-to(tablet, 0) {
  dt.inline {
    display: inline-block;
    padding-right: 8px;
    padding-bottom: 8px;
  }
  dd.inline {
    display: inline;

    &:after {
      content: "\A";
      white-space: pre;
    }
  }
}

ul {
  &.tight {
    margin: 0;
  }
  &.inline {
      padding: 0;
      margin: 0;
      li {
        display: inline-block;
        font-weight: 500;
        margin-right: 10px;
        color: $gray;
      }
      strong {
        font-weight: 300;
        color: $charcoal;
      }
  }
  &.bullets {
    padding-left: 20px;
    list-style-type: disc;
    list-style-position: outside;
  }
}
