#message {
  display: block;
  padding: 20px 30px;
  margin: 0;
  background-color: $brand-primary;
  color: #ffffff;
  text-align: center;
  a {
    color: $amaranth;
  }
}
// Media Queries
@media(max-width: $screen-lg-max) {

}

@media(max-width: $screen-md-max) {

}

@media(max-width: $screen-sm-max) {

}

@media(max-width: $screen-xs-max) {

}