// Global Navigation
.nav {
  >li {
    >a {

      &:hover, &:focus {

      }
    }
  }
}

// Primary Navigation: Desktop

#topnav {
  position: relative;
  height: 30px;
  background: $gray-darker;
  @include transition(.5s);
  .container {
    position: relative;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      margin: 0 -2px;
      padding: 0;
    }
  }
  a, button {
    display: inline-block;
    margin: 0;
    padding: 0 20px;
    font-size: 14px;
    line-height: 30px;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    &:hover, &:focus {

    }
    &.plum {
      background: $plum;
      color: $cream;
    }
    &.cream {
      background: $cream;
      color: $plum;
    }

  }
  // Accessibility Navigation
  .accessnav {
    position: absolute;
    top: 0;
    left: 0;
  }
  // Application Navigation
  .appnav {
    position: absolute;
    top: 0;
    right: 0;
    a {
      text-transform: none;
    }
    .dropdown-toggle {
      background-color: $amaranth;
    }
    .caret {
      display: inline-block;
      width: 0;
      height: 0;
      margin-left: 2px;
      vertical-align: middle;
      border-top: 4px solid $cream;
      border-right: 4px solid transparent;
      border-left: 4px solid transparent;
      @include transition(.2s);
    }
    .dropdown.open .caret {
      transform: rotate(180deg);
    }
    .dropdown-menu {
      &:before {
        content: none;
      }
      position: absolute;
      right: 0;
      left: auto;
      li {
        margin: 0;
        display: block;
        &.separator {
          border-top: 1px solid $gray;
        }
        a {
          display: block;
          color: $gray-darker;
          background-color: #fff;
          background-image: none;
          @include transition(.3s);
          &:hover, &:focus {
            background-color: $gray;
            color: #fff;
          }
        }
      }
    }
  }
}

#mainnav {
  .container {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }
  .brand {
    float: left;
    width: 150px;
    font-size: 30px;
    line-height: 68px;
    img.logo {
      height: 68px;
    }
  }
  .primarynav {
    display: block;
    float: left;
    margin: 0 auto;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        display: inline-block;
        &.active {
          a {
            font-weight: 700;
            color: $teal;
            cursor: default;
            pointer-events: none;
          }
        }
        a {
          display: block;
          height: 68px;
          line-height: 68px;
          padding: 0 12px;
          color: $gray-darker;
          font-size: 17px;
          font-weight: 400;
          &:hover, &:focus {

          }
        }
      }
    }
  }
  .primary-cta {
    display: inline-block;
    padding: 8px 20px;
    margin: auto 0;
    line-height: 1;
    background-color: $lime;
    color: #fff;
    text-align: center;
    font-weight: 400;
    font-size: 17px;
    @include transition();
    span {
      display: block;
      text-transform: uppercase;
      font-weight: 700;
    }
    &:hover, &:focus {
      background-color: $teal;
    }
  }
}

// Primary Navigation: Mobile
#mobilenav {

  .navbar-header {
    float: none;
    box-shadow: 0px 2px 3px rgba(0,0,0,.1);
    .navbar-brand {
      width: 125px;
      padding: 10px 0;
      margin-left: 20px;
    }
    .navbar-toggle {
      display: inline-block;
      background-color: $lime;
      margin: 0;
      border-radius: 0;
      border: 1px solid #fff;
      padding: 18px 14px;
      .icon-bar {
        background-color: #fff;
      }
    }
  }
  .top-buttons {
    clear: both;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    .button {
      width: 100%;
      padding: 8px 0;
      margin: 10px 0;
      text-align: center;
      font-size: 16px;
      font-weight: 400;
      span {
        display: block;
        font-weight: 700;
      }
    }
  }
  .primarynav {
    ul {
      display: block;
      position: relative;
      width: 100%;
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        display: block;
        width: 100%;
        border-bottom: 1px solid $gray-lighter;
        &:last-child {
          border: none;
        }
        a {
          display: block;
          padding: 20px;
          background-color: #fff;
          color: $gray-darker;
          font-weight: 400;
          &:hover, &:focus {
            background-color: $gray-lighter;
          }
        }
      }
    }
  }
  .accessnav, .appnav {
    ul {
      position: relative;
      width: 100%;
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        display: block;
        width: 100%;
        border-bottom: 1px solid $gray-lighter;
        a, button {
          display: block;
          width: 100%;
          padding: 12px 20px;
          background-color: $gray;
          color: #fff;
          text-align: left;
          font-weight: 400;
          &:hover, &:focus {
            background-color: $plum;
          }
        }
      }
    }
  }
}


// Media Queries
@media(max-width: $screen-lg-max) {
  #mainnav {
    .container {
      width: 100%;
      flex-wrap: wrap;
    }
    .brand {
      margin-left: 20px;
    }
    .primarynav {
      margin-right: 20px;
    }
    .primary-cta {
      width: 100%;
      span {
        display: inline-block;
        margin-left: 3px;
      }
    }
  }
}

@media(max-width: $screen-md-max) {
  #mainnav {
    .navbar-nav {
      margin-left: 60px;
      li {
        a {
          padding: 0 12px;
          font-size: 17px;
        }
      }
    }
  }
}

@media(max-width: $screen-sm-max) {
  #mainnav {
    .navbar-brand {
      img {
        width: 110px;
      }
    }
    .navbar-nav {
      li {
        a {
          padding: 0 10px;
          font-size: 15px;
        }
      }
    }
  }
}

@media(max-width: $screen-xs-max) {

}
