// Split button
//
// Split buttons are buttons with additional options accessed via a dropdown.
// Split buttons can also be created using the `ui.utils.SplitCTA` class (see the simple team dashboard for a full example usage -- `teams.workflows.simple.SimpleDashboardVideoView.cta()` method and `templates/future/teams/simple/video_card.html`)
//
// Example:
// <!-- Split button with tooltip -->
//
// <!-- container div with fixed width and border to demonstrate full width split buttons -->
// <div style="width:600px;border:1px solid black">
//
// <div style="margin:5px">
// <div class="btn-group split-button-container">
//   <span data-toggle="tooltip" data-placement="top" title="Tooltip!"><a class="button split-button cta">Split button with tooltip</a></span>
//   <button class="button cta split-button split-button-dropdown-toggle" data-toggle="dropdown">
//     <span class="caret"></span>
//   </button>
//   <ul class="split-button-dropdown-menu collapse" role="menu">
//     <li><a href="#">Dropdown 1 item 1</a></li>
//     <li><a href="#">Dropdown 1 item 2</a></li>
//   </ul>
// </div>
// 
//
// <!-- Split button with no tooltip -->
// 
// <div class="btn-group split-button-container">
//   <a class="button split-button cta">Split button no tooltip</a>
//   <button class="button split-button cta split-button-dropdown-toggle" data-toggle="dropdown">
//     <span class="caret"></span>
//   </button>
//   <ul class="split-button-dropdown-menu collapse" role="menu">
//     <li><a href="#">Dropdown 1 item 1</a></li>
//     <li><a href="#">Dropdown 1 item 2</a></li>
//   </ul>
// </div>
// </div>
//
// <!-- Split button with icon -->
// <div style="margin:5px">
// <div class="btn-group split-button-container">
//   <a class="button split-button cta"><i class="icon icon-transcribe"></i>Split button no tooltip with icon</a>
//   <button class="button split-button cta split-button-dropdown-toggle" data-toggle="dropdown">
//     <span class="caret"></span>
//   </button>
//   <ul class="split-button-dropdown-menu collapse" role="menu">
//     <li><a href="#">Dropdown 1 item 1</a></li>
//     <li><a href="#">Dropdown 1 item 2</a></li>
//   </ul>
// </div>
// </div>
//
// <!-- 
//  Split button no tooltip full width 
//  - .split-button-container changed to .split-button-container-full-width to the wrapping div
//  - added block class to the main <a> element
// -->
// <div style="margin:5px">
// <div class="btn-group split-button-container-full-width">
//   <a class="button split-button block cta">Split button no tooltip</a>
//   <button class="button split-button cta split-button-dropdown-toggle" data-toggle="dropdown">
//     <span class="caret"></span>
//   </button>
//   <ul class="split-button-dropdown-menu collapse" role="menu">
//     <li><a href="#">Dropdown 1 item 1</a></li>
//     <li><a href="#">Dropdown 1 item 2</a></li>
//   </ul>
// </div>
// </div>
//
// <!-- 
//  Split button with tooltip full width 
//  - .split-button-container changed to .split-button-container-full-width to the wrapping div
//  - added .width-100 to the <span> element that wraps the main <a> element
//  - added block class to the main <a> element
// -->
// <div style="margin:5px">
// <div class="btn-group split-button-container-full-width">
//   <span class="width-100" data-toggle="tooltip" data-placement="top" title="Tooltip!"><a class="button split-button cta block split-button">Tooltip full width</a></span>
//   <button class="button split-button cta split-button-dropdown-toggle" data-toggle="dropdown">
//     <span class="caret"></span>
//   </button>
//   <ul class="split-button-dropdown-menu collapse" role="menu">
//     <li><a href="#">Dropdown 1 item 1</a></li>
//     <li><a href="#">Dropdown 1 item 2</a></li>
//   </ul>
// </div>
// </div>
//
// <!-- 
//  Split buttons are still buttons at the end of the day
//  - .disabled class is applicable as with normal buttons
// -->
// <div style="margin:5px">
// <div class="btn-group split-button-container-full-width">
//   <span class="width-100" data-toggle="tooltip" data-placement="top" title="Tooltip!"><a class="button split-button disabled block split-button">Disabled full width with tooltip</a></span>
//   <button class="button split-button disabled split-button-dropdown-toggle" data-toggle="dropdown">
//     <span class="caret"></span>
//   </button>
//   <ul class="split-button-dropdown-menu collapse" role="menu">
//     <li><a href="#">Dropdown 1 item 1</a></li>
//     <li><a href="#">Dropdown 1 item 2</a></li>
//   </ul>
// </div>
// </div>
//
// </div>
//
// Styleguide splitButton

.split-button {
  margin-bottom: 0px !important;
  margin-right: 0px !important;
}

.split-button-container {
  display: inline-flex;
}

.split-button-container-full-width {
  display: flex;
}

.split-button-dropdown-toggle {
  margin-left: 2px !important;
  padding: 7px 0px;
  width: 40px !important;
}
