.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: transparent;
  thead {

  }
  td, th {
    padding: 8px;
    vertical-align: top;
    text-align: left;
    &.nowrap {
      white-space: nowrap;
    }
  }
  th {
    border-bottom: 2px solid dark($snow);
  }
  &.striped {
    tr:nth-child(odd) {
      background: $white;
    }
    tr:nth-child(even) {
      background: $snow;
    }
  }
  // A secondary tbody is used to start new set of rows inside a table.  This means:
  // - The first row should look like a header row
  // - If the table is striped, the strips starting with the second row
  tbody.secondary :first-child td {
    padding-top: 32px;
    background: $white;
    border-bottom: 2px solid dark($snow);
    font-weight: bold;
  }
  &.striped tbody.secondary {
    tr:nth-child(even) {
      background: $white;
    }
    tr:nth-child(odd) {
      background: $snow;
    }
  }

  &.lined {
    td {
      border-bottom: 1px solid dark($snow);
    }
  }
  &.align-middle {
    td {
      vertical-align: middle;
    }
  }
}

table.historyTable {
  max-height: 250px;
  table-layout: fixed;
  tr {
    td {
      padding: 0px 10px;
      height: 40px;
      line-height: 40px;
      vertical-align: middle;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      &:first-child {
        width: 50%;
      }
      &:last-child {
        width: 120px;
        text-align: right;
        i {
          margin-left: 10px;
          font-size: 18px;
          color: $gray;
        }
        i.icon {
          display: inline-block;
          width: 30px;
          margin: 0;
          text-align: center;
        }
      }
    }
  }
}

// Assignment history table
//
// Used to display a history of assignment for a particular user.  The first column is the video title, the second column is the language, and the last column is the list of steps.
//
// Example:
// <table class="assignmentHistoryTable">
//   <tbody>
//     <tr>
//       <td>4 Lessons in Creativity | Julie Burstein | TED Talks</td>
//       <td>English</td>
//       <td>
//         <ul class="stepList tight">
//           <li>
//             <a href="/en/teams/collab/member/pierre/">
//               <span class="completed" data-toggle="tooltip" data-placement="top" title="Transcriber: Pierre">
//                 <span class="avatar"><img src="https://www.gravatar.com/avatar/e51c0a53b4f3bcac53ec8925b4b7b344?s=30&amp;d=https%3A%2F%2Fs3.amazonaws.com%2Fs3.www.universalsubtitles.org%2Fgravatar%2Favatar-default-30.png"></span>
//               </span>
//             </a>
//           </li>
//           <li>
//             <a href="/en/teams/collab/member/peter/">
//               <span data-toggle="tooltip" data-placement="top" title="Reviewer: Peter">
//                 <span class="avatar"><img src="https://www.gravatar.com/avatar/08246082c92c89bb256bf463b32bdc92?s=30&amp;d=https%3A%2F%2Fs3.amazonaws.com%2Fs3.www.universalsubtitles.org%2Fgravatar%2Favatar-default-30.png"></span>
//               </span>
//             </a>
//           </li>
//           <li>
//             <a href="/en/teams/collab/member/ben/">
//               <span data-toggle="tooltip" data-placement="top" title="Approver: ben">
//                 <span class="avatar"><img src="https://www.gravatar.com/avatar/2c66f6142933ed5a97948f89cb1c7be0?s=30&amp;d=https%3A%2F%2Fs3.amazonaws.com%2Fs3.www.universalsubtitles.org%2Fgravatar%2Favatar-default-30.png"></span>
//               </span>
//             </a>
//           </li>
//           </ul>
//           </td>
//     </tr>
//   </tbody>
// </table>
// Styleguide assignmentHistoryTable

.assignmentHistoryTable {
  @extend .table;
  @extend .table.striped;
  table-layout: fixed;
  td, th {
    padding: 4px 8px;
    line-height: 30px;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    &:first-child {
      width: 50%;
    }
    &:last-child {
      width: 120px;
      text-align: right;

    }
  }
}
