// Tables
//
// Use tables for tabular data.  Take care because they can be hard to read on
// mobile devices and other browsers with not a lot of width.  Use the
// table-striped class to make alternate rows striped
//
// Example:
// <table class="table">
//   <thead>
//     <tr>
//       <th>Name</th>
//       <th>Age</th>
//       <th>Occupation</th>
//     </tr>
//   </thead>
//   <tbody>
//     <tr>
//       <td>Bob</td>
//       <td>20</td>
//       <td>Cowboy</td>
//     </tr>
//     <tr>
//       <td>Alice</td>
//       <td>30</td>
//       <td>Astronaut</td>
//     </tr>
//     <tr>
//       <td>Eve</td>
//       <td>40</td>
//       <td>Spy</td>
//     </tr>
//   </tbody>
// </table>
//
// Example:
// <table class="table table-striped">
//   <thead>
//     <tr>
//       <th>Name</th>
//       <th>Age</th>
//       <th>Occupation</th>
//     </tr>
//   </thead>
//   <tbody>
//     <tr>
//       <td>Bob</td>
//       <td>20</td>
//       <td>Cowboy</td>
//     </tr>
//     <tr>
//       <td>Alice</td>
//       <td>30</td>
//       <td>Astronaut</td>
//     </tr>
//     <tr>
//       <td>Eve</td>
//       <td>40</td>
//       <td>Spy</td>
//     </tr>
//   </tbody>
// </table>
// 
// Example:
// <table class="table table-condensed">
//   <tbody>
//     <tr>
//       <td>
//         <a href="#">
//           <span class="avatar" 
//                 data-toggle="tooltip"
//                 data-placement="top" 
//                 title="Member Name">
//                 <img src="https://s3.amazonaws.com/s3.www.universalsubtitles.org/gravatar/default-50.png">
//           </span>
//         </a>
//       </td>
//       <td>
//         <strong>Gabriela Rocha</strong> started working as transcriber on <a href="#">Portuguese, Brazillian</a> for <a href="#"><strong>The Future of News? Virtual Reality</strong></a>
//       </td>
//       <td class="nowrap">1 hour ago</td>
//     </tr>
//     <tr>
//       <td>
//         <a href="#">
//           <span class="avatar" 
//                 data-toggle="tooltip"
//                 data-placement="top" 
//                 title="Member Name">
//                 <img src="https://s3.amazonaws.com/s3.www.universalsubtitles.org/gravatar/default-50.png">
//           </span>
//         </a>
//       </td>
//       <td>
//         <strong>Gabriela Rocha</strong> started working as transcriber on <a href="#">Portuguese, Brazillian</a> for <a href="#"><strong>The Future of News? Virtual Reality</strong></a>
//       </td>
//       <td>1 hour ago</td>
//     </tr>
//     <tr>
//       <td>
//         <a href="#">
//           <span class="avatar" 
//                 data-toggle="tooltip"
//                 data-placement="top" 
//                 title="Member Name">
//                 <img src="https://s3.amazonaws.com/s3.www.universalsubtitles.org/gravatar/default-50.png">
//           </span>
//         </a>
//       </td>
//       <td>
//         <strong>Gabriela Rocha</strong> started working as transcriber on <a href="#">Portuguese, Brazillian</a> for <a href="#"><strong>The Future of News? Virtual Reality</strong></a>
//       </td>
//       <td>1 hour ago</td>
//     </tr>
//   </tbody>
// </table>
//
// Styleguide tables
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: transparent;
  thead {

  }
  tbody {
    tr {
      td {
        border: none;
        vertical-align: top;
        &.nowrap {
          white-space: nowrap;
        }
      }
    }
  }
  &.table-striped {
    tbody {
      tr {
        &:nth-of-type(odd) {
          background: #f0f1f2;
        }
        &:nth-of-type(even) {
          background: #fff;
        }
        td {

        }
      }
    }
  }
}

table.historyTable {
  max-height: 250px;
  table-layout: fixed;
  tr {
    td {
      padding: 0px 10px;
      height: 40px;
      line-height: 40px;
      vertical-align: middle;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      &:first-child {
        width: 50%;
      }
      &:last-child {
        width: 120px;
        text-align: right;
        i {
          margin-left: 10px;
          font-size: 18px;
          color: $gray;
        }
        i.icon {
          display: inline-block;
          width: 30px;
          margin: 0;
          text-align: center;
        }
      }
    }
  }
}

// Assignment history table
//
// Used to display a history of assignment for a particular user.  The first column is the video title, the second column is the language, and the last column is the list of steps.
//
// Example:
// <table class="assignmentHistoryTable">
//   <tbody>
//     <tr>
//       <td>4 Lessons in Creativity | Julie Burstein | TED Talks</td>
//       <td>English</td>
//       <td>
//         <ul class="stepList tight">
//           <li>
//             <a href="/en/teams/collab/member/pierre/">
//               <span class="completed" data-toggle="tooltip" data-placement="top" title="Transcriber: Pierre">
//                 <span class="avatar"><img src="https://www.gravatar.com/avatar/e51c0a53b4f3bcac53ec8925b4b7b344?s=30&amp;d=https%3A%2F%2Fs3.amazonaws.com%2Fs3.www.universalsubtitles.org%2Fgravatar%2Favatar-default-30.png"></span>
//               </span>
//             </a>
//           </li>
//           <li>
//             <a href="/en/teams/collab/member/peter/">
//               <span data-toggle="tooltip" data-placement="top" title="Reviewer: Peter">
//                 <span class="avatar"><img src="https://www.gravatar.com/avatar/08246082c92c89bb256bf463b32bdc92?s=30&amp;d=https%3A%2F%2Fs3.amazonaws.com%2Fs3.www.universalsubtitles.org%2Fgravatar%2Favatar-default-30.png"></span>
//               </span>
//             </a>
//           </li>
//           <li>
//             <a href="/en/teams/collab/member/ben/">
//               <span data-toggle="tooltip" data-placement="top" title="Approver: ben">
//                 <span class="avatar"><img src="https://www.gravatar.com/avatar/2c66f6142933ed5a97948f89cb1c7be0?s=30&amp;d=https%3A%2F%2Fs3.amazonaws.com%2Fs3.www.universalsubtitles.org%2Fgravatar%2Favatar-default-30.png"></span>
//               </span>
//             </a>
//           </li>
//           </ul>
//           </td>
//     </tr>
//   </tbody>
// </table>
// Styleguide assignmentHistoryTable

.assignmentHistoryTable {
  @extend .table;
  @extend .table-striped;
  table-layout: fixed;
  tbody {
    tr {
      td, th {
        padding: 4px 8px;
        line-height: 30px;
        vertical-align: middle;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        &:first-child {
          width: 50%;
        }
        &:last-child {
          width: 120px;
          text-align: right;

        }
      }
    }
  }
}
